mixin printList(obj)
    each item in obj
        if item.type == 0
            li.noBullets
                div.floatLeft !{item.name}
                    div.floatRight
                        a(href='#{item.seen}')= 'Seen'
                div.clear
            ul
                +printList(item.items) 
        else
            li.noBullets
                div.floatLeft
                    a(href='#{item.url}')= item.name 
                    div.floatRight
                        a(href='#{item.seen}')= 'Seen'
                div.clear
        

extends layout

block content
    each dir in content
        div !{dir.name}
        ul
            +printList(dir.items)