mixin printList(obj)
    each item in obj
        if item.type == 0
            if item.name != null
                li.noBullets
                    div.floatLeft !{item.name}
                        div.floatRight
                            a(href='#{item.seen}')= 'Seen'
                    div.clear
            ul
                +printList(item.items) 
        else
            li.noBullets
                div.floatLeft
                    a(href='#{item.url}')= item.name 
                    div.floatRight
                        a(href='#{item.seen}')= 'Seen'
                div.clear
        

extends layout

block content
    div 
        a(href='/')= 'Virtual view'
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a(href='/pview')= 'Physical view'
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a(href='/sview')= 'Seen view'
        br
        br
    if content.items === null
        div !{content.msg}
    else
        ul
            +printList(content)